main {
	padding-inline: 1rem;
	color: var(--text-color);
}

#start-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	padding-bottom: 1.5rem;
}

#bulk-mode {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	width: 100%;
	max-width: 50rem;
}

#bulk-mode > p,
#bulk-mode > ul {
	max-width: 50rem;
	color: var(--text-color);
	align-self: flex-start;
}

#bulk-mode > ul > li {
	margin-bottom: 1rem;
}

#start-window table td {
	padding: 1rem;
	padding-bottom: 0rem;
	width: 50%;
}

#start-window table td:first-child {
	text-align: right;
}

#start-window table :where(select, input) {
	min-width: 4rem;
	height: 2rem;

	border-radius: 4px;
	border: 2px solid var(--border-color);
	padding: .25rem .5rem;
	background-color: var(--foreground-color);
	color: var(--text-color);

	font-size: .9rem;

	transition: background-color 100ms linear;
}

#start-window table :where(select, input):hover {
	background-color: var(--hover-color);
}

#bulk-folder-filter-input {
	width: 100%;
}

#bulk-folder-filter-error {
	margin-bottom: 1rem;
}

#bulk-summary {
	padding: .5rem 1rem;
	color: var(--text-color);
}

#bulk-list-window {
	display: flex;
	flex-direction: column;
}

.bulk-proposal-list > tr {
	transition: background-color 400ms linear;
}

.bulk-proposal-list > tr:hover {
	background-color: var(--hover-color);
}

.bulk-proposal-list td {
	border-top: 1px solid var(--border-color);
}

.bulk-proposal-list td:first-child {
	width: 3rem;
}

#run-bulk-scan-button,
#scan-cancel-button,
.cancel-button,
.action-container button {
	min-width: 5rem;

	border: 2px solid var(--border-color);
	border-radius: 4px;
	padding: .4rem .5rem;
	color: var(--text-color);
	background-color: var(--foreground-color);

	font-size: 1rem;
	text-decoration: none;

	transition: background-color 100ms linear;
}

#run-bulk-scan-button:hover,
#scan-cancel-button:hover,
.cancel-button:hover,
.action-container button:hover {
	background-color: var(--hover-color);
}

#scan-cancel-button:hover {
	border-color: var(--error-color);
	color: var(--error-color);
}

#loading-window,
#no-result-window {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

#loading-window h2,
#no-result-window h2 {
	font-size: clamp(1rem, 5vw, 2rem);
	font-weight: 500;
	text-align: center;
}

.action-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;

	padding: 1rem;
}

.table-container {
	padding: 1rem;
}

.table-container > table {
	min-width: 30rem;
	width: 100%;
}

.table-container :where(td, th) {
	padding: .5rem 1rem;
}

.table-container th {
	padding-left: 1rem;
}
